<div class= "widget">
	<div class="row">
		<div class="col-md-12">
			<div ba-panel ba-panel-title="OTA Integration Form" ba-panel-class="with-scroll">
        <form name="vm.personalInfoForm" ng-controller="VasCtrl" novalidate>
          <label for="checkBoxCountry">Country</label>
          <div class="input-demo checkbox-demo row form-group has-feedback">
           <div class="col-sm-1">
                                    <label class="checkbox-inline custom-checkbox nowrap">
                                        <input type="checkbox" id="checkBoxPH" value="country1" ng-model="vm.personalInfoForm.country1">
                                        <span>PH</span>
                                    </label>
                                </div>
                                <div class="col-sm-1">
                                    <label class="checkbox-inline custom-checkbox nowrap">
                                        <input type="checkbox" id="checkBoxTH" value="country2" ng-model="vm.personalInfoForm.country2">
                                        <span>TH</span>
                                    </label>
                                </div>
                                <div class="col-sm-1">
                                    <label class="checkbox-inline custom-checkbox nowrap">
                                        <input type="checkbox" id="checkBoxMM" value="country3" ng-model="vm.personalInfoForm.country3">
                                        <span>MM</span>
                                    </label>
                                </div>
                                <div class="col-sm-1">
                                    <label class="checkbox-inline custom-checkbox nowrap">
                                        <input type="checkbox" id="checkBoxLA" value="country4" ng-model="vm.personalInfoForm.country4">
                                        <span>Latin America</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                             <!--     <input type="text" class="form-control" value="OTA Integration" /> -->
                                    <div class="form-group adj-bottom has-feedback"
                                         ng-class="{'has-error': vm.personalInfoForm.modelName.$invalid && (vm.personalInfoForm.modelName.$dirty || vm.personalInfoForm.$submitted)}">
                                        <label for="inputModelName">Model Name</label>

                                        <input type="text" class="form-control" id="inputModelName" name="modelname" placeholder="Model Name" ng-model="vm.personalInfo.modelName" required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group adj-bottom has-feedback"
                                         ng-class="{'has-error': vm.personalInfoForm.modelNumber.$invalid && (vm.personalInfoForm.modelNumber.$dirty || vm.personalInfoForm.$submitted)}">
                                        <label for="inputModelNumber">Model Number</label>
                                        <input type="text" class="form-control" id="inputModelNumber" name="modelnumber" placeholder="Model Number" ng-model="vm.personalInfo.modelNumber" required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="inputContactPerson">ODM Contact Person</label>
                                        <select class="form-control" title="Contact Person" name="ODM" ng-model="vm.personalInfo.odm" selectpicker required>
                                            <option value="Irish Vinluan">Irish Vinluan</option>
                                            <option value="Irish Vinluan">Annalou Pallarca</option>
                                            <option value="Irish Vinluan">Jenina Mae Tsuchiya</option>
                                            <option value="Irish Vinluan">Fraiz Barcelona</option>
                                            <option value="Irish Vinluan">Mira Fracella Garcia</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group" ng-class="{'has-error': vm.personalInfoForm.email.$invalid && (vm.personalInfoForm.email.$dirty || vm.personalInfoForm.$submitted)}">
                                        <label for="inputEmail">ODM Email Address</label>
                                        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" ng-model="vm.personalInfo.email" required>
                                        <span class="help-block error-block basic-block">Proper email required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group" ng-class="{'has-error': vm.personalInfoForm.qqAccount.$invalid && (vm.personalInfoForm.qqAccount.$dirty || vm.personalInfoForm.$submitted)}">
                                        <label for="InputQQAccount">ODM QQ Account</label>
                                        <input type="email" class="form-control" id="InputQQAccount" name="qqAccount" placeholder="Email" ng-model="vm.personalInfo.qqAccount" required>
                                        <span class="help-block error-block basic-block">Proper email required</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="inputTestEngineer">Mobile Testing Engineer</label>
                                        <select class="form-control" title="Mobile Testing Engineer" name="tester" ng-model="vm.personalInfo.tester" selectpicker required>
                                            <option value="Iana Linag">Iana Linag</option>
                                            <option value="Iana Linag">Cassie Salvador</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
				  <ul class="pager ba-wizard-pager">
            <li class="previous"><button type="submit" ng-click="Submit()" class="btn btn-primary" ng-disabled="vm.requestForm.$invalid">Submit</button></li>
          </ul>
        </form>
			</div>
		</div>
	</div>
</div>